html {
    font-size: 62.5%;
}

body {
    font-family: $font-family;
    font-size: 1.5rem;
    color: $clr-primary;
    padding: 8rem 2.4rem;
    text-align: center;

    background-image: url(../assets/bg-pattern-top-mobile.svg),url(../assets/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 2.8rem;
    letter-spacing: -1.14px;
}

p {
    color: $clr-neutral-300;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
}

ul {
    list-style: none;
    padding: 0;
}

.intro,
.cards {
    margin-bottom: 5rem;
}