.card {
    margin-bottom: 1.6rem;
    padding: 4rem 3.2rem;
    border-radius: $border-radius;
    color: $clr-neutral-100;
    background-color: $clr-primary;
    text-align: left;
    font-size: 1.3rem;

    &__header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 3rem;
    }

    &__img {
        margin: 0;
        border-radius: 50%;
        margin-right: 2.2rem;
    }

    &__title,
    &__subtitle {
        font-size: inherit;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__subtitle {
        color: $clr-accent;
        font-weight: normal;
    }

    &__text {
        color: $clr-neutral-100;
        letter-spacing: -0.23px;
        line-height: 2.2rem;
    }

    @media screen and (min-width: 80em) {

        width: 35rem;
        height: 23.4rem;

        & + * {
            margin-left: 3rem;
        }

        &:nth-child(2) {
            margin-top: 2rem;
        }

        &:nth-child(3) {
            margin-top: 4rem;
        }
    }
}